{% extends 'base.html' %}
{% block title %}
  <title>{{ post.author.get_full_name }}  профайл пользователя</title>
{% endblock %}
{% block content %}
    <h1>Все посты пользователя {{ post.author.get_full_name }}</h1>
      <h3>Всего постов: {{ author.all.count }} </h3> 
      {% for post in page_obj %}
        <article>
          <ul>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }} 
            </li>
          </ul>
          <p>
            {{ post.text }} 
          </p>
          <a href="{% url 'posts:post_detail' post.pk %}">подробная информация</a>
        </article>       
        <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>        
        {% if not forloop.last %}
        <hr>
        {% endif %}
        {% if page.has_other_pages %}
            {% include 'posts/includes/paginator.html' %}
        {% endif%}
      {% endfor %}
{% endblock %}
